*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) fixed center center;
    background-size: cover;
}

.container{
    /* border: white solid; */
    color: white;
    position: absolute;
    top: 18%;
    left: 65%;
}

.container h1{
    font-size: 46px;
    font-weight: 900;
    text-align: left;
    font-family:cursive;
    text-decoration: underline;
    margin-bottom: 8px;
    padding: 8px;
    padding-left: 0%;
}

.box{
    width: 100%;
    border-bottom: 2px solid whitesmoke;
    padding: 2px;
}

.box input{
    outline: none;
    width: 85%;
    margin: 10px 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: aliceblue;
    border: none;
}

#btn{
    cursor: pointer;
    outline: none;
    width: 100%;
    margin: 12px;
    padding: 6px;
    padding-left: 0;
    margin-left: 0;
    border:none;
    background: none;
    color: aliceblue;
    font-size: 18px;
    text-align: left;
}
#btn:hover{
    border-bottom: none;
    text-decoration: underline;
    color: rgb(119, 119, 119);
    font-size: 18px;
}

.box i{
    margin-right: 6px;
    margin-left: 2px;
}

a{
    /* border: solid white; */
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    color: white;
    
}

a:hover{
    color: rgb(119, 119, 119);
}

a:visited{
    color: rgb(195, 161, 236);
}

